<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit PAGE....</title>
</head>

<body>
    <center>
    <form action="/data" method="post">
        <table border="1" style="color:coral; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; "></table>>
            <tr>
                <td>hashtag</td>
                <td><input type="text" name="hashtag"></td>
            </tr>
            <tr>
                <td>taskname</td>
                <td><input type="text" name="taskname"></td>
            </tr>
            <tr>
                <td>status</td>
                <td><input type="text" name="status"></td>
            </tr>
            <tr>
                <td>edit</td>
                <td><input type="text" name="edit"></td>
            </tr>
            <tr>
                <td>remove</td>
                <td><input type="text" name="remove"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="ADD TASK"></td>
            </tr>
        </table>
    </form>
</center>
</body>

</html>